* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: linear-gradient(to right, #383838, #868686);
  color: #fff;
}

.content {
  background-color: grey;
  height: 100%;
  display: grid;
}

.counter {
  font-size: 7rem;
  font-weight: bold;
  color: white;
  text-shadow: 3px 3px black;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.one {
  background: linear-gradient(#ff0000, #ff4848);
}

.increase, .decrease {
  position: absolute;
  justify-content: center;
  display: flex;
  height: 100%;
  width: 50%;
  background-color: rgba(59, 59, 59, 0.1);
  opacity: 0;
  align-items: center;
  user-select: none;
}

.increase:hover, .decrease:hover {
  opacity: 1;
}

.increase {
  justify-content: end;
  padding-right: 30px;
  right: 0;
}

.decrease {
  justify-content: start;
  padding-left: 30px;
  left: 0;
}
